In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/flights.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Unnamed: 11      0 non-null      float64
 12  Unnamed: 12      0 non-null      float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.1+ MB

In [8]:
df.sample(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional Info,Price,Unnamed: 11,Unnamed: 12
2388,Air India,21/03/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4436,NaN,NaN
2115,Vistara,03/03/2019,Banglore,New Delhi,BLR → DEL,19:40,22:20,2h 40m,non-stop,No info,11914,NaN,NaN
8314,Air India,12/06/2019,Mumbai,Hyderabad,BOM → HYD,13:55,15:25,1h 30m,non-stop,No info,3101,NaN,NaN
8486,Jet Airways,9/06/2019,Delhi,Cochin,DEL → BOM → COK,14:00,19:00,5h,1 stop,No info,14715,NaN,NaN
7636,Air India,9/05/2019,Mumbai,Hyderabad,BOM → HYD,13:55,15:25,1h 30m,non-stop,No info,3101,NaN,NaN
8702,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,07:05,19:15,12h 10m,1 stop,In-flight meal not included,10712,NaN,NaN
9909,IndiGo,27/05/2019,Delhi,Cochin,DEL → HYD → COK,06:50,16:10,9h 20m,1 stop,No info,6675,NaN,NaN
1666,Jet Airways,21/04/2019,Banglore,Delhi,BLR → DEL,17:45,20:45,3h,non-stop,In-flight meal not included,4545,NaN,NaN
2637,Jet Airways,27/03/2019,Delhi,Cochin,DEL → MAA → BOM → COK,17:35,04:25 28 Mar,10h 50m,2 stops,In-flight meal not included,9413,NaN,NaN
874,Multiple carriers,27/06/2019,Delhi,Cochin,DEL → BOM → COK,10:20,01:30 28 Jun,15h 10m,1 stop,No info,6271,NaN,NaN

In [10]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional Info', 'Price', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [15]:
#the last 2 columns were added by mistake while converting xlsx file to csv, they contain only null values 
#so we can drop them 
df.drop(['Unnamed: 11', 'Unnamed: 12'], axis = 'columns', inplace =True )

In [18]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional Info', 'Price'],
      dtype='object')