In [1]:
import pandas as pd

In [50]:
df = pd.read_csv('./df_encoding3.csv')

In [51]:
week_dummies = pd.get_dummies(df.weekday)
week_dummies.rename(columns={0: 'Monday', 1:'Tuesday', 2:'Wednesday', 3 : 'Thursday', 4 : 'Friday', 5: 'Saturday', 6:'Sunday'}, inplace=True)

In [ ]:
df = pd.concat([df, week_dummies], axis='columns')

In [53]:
df.drop(['airline', 'embarked', 'destination', 'Route', 'stops', 'journey_year', 'weekday', 'arrival_period', 'departure_period', 'duration_hours', 'duration_mins', 'additional_info'], axis=1, inplace=True)

In [54]:
df['Arrived_next_day'] = df['Arrived_next_day'].astype(int)

In [56]:
df.sample(10)

,journey_month,journey_day,dep_hour,dep_min,Arrival_hour,Arrival_min,Arrived_next_day,Duration_in_mins,price,Air Asia,...,arrival_late night,arrival_morning,arrival_night,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
4381,5,21,9,40,19,0,0,560,13030,0,...,0,0,0,0,1,0,0,0,0,0
619,1,5,19,0,1,30,1,390,9425,0,...,1,0,0,0,0,0,0,0,1,0
6965,9,6,9,45,12,35,0,170,4669,0,...,0,1,0,0,0,0,0,1,0,0
8157,9,5,7,30,21,0,0,810,7671,0,...,0,0,1,0,0,0,1,0,0,0
552,3,21,7,5,9,20,0,135,3740,0,...,0,1,0,0,0,0,1,0,0,0
774,5,15,5,15,7,40,0,145,3541,0,...,0,0,0,0,0,1,0,0,0,0
8199,1,6,8,45,19,15,0,630,10262,0,...,0,0,0,0,0,0,0,0,0,1
7242,4,27,16,55,19,55,0,180,4824,0,...,0,0,0,0,0,0,0,0,1,0
9068,12,3,5,30,14,50,0,560,11343,0,...,0,0,0,0,1,0,0,0,0,0
5248,6,3,15,55,21,55,0,360,9749,0,...,0,0,1,1,0,0,0,0,0,0

In [ ]:
df.to_csv('../decision_tree/dt_encoded.csv', index=False)