In [41]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [42]:
df = pd.read_csv('df_cleaned.csv')
df.shape

(10462, 21)

In [43]:
df.head()

       airline  embarked destination  ... Duration_in_mins  price  additional_info
0       IndiGo  Banglore   New Delhi  ...              170   3898          No info
1    Air India   Kolkata    Banglore  ...              445   7663          No info
2  Jet Airways     Delhi      Cochin  ...             1140  13883          No info
3       IndiGo   Kolkata    Banglore  ...              325   6219          No info
4       IndiGo  Banglore   New Delhi  ...              285  13303          No info

[5 rows x 21 columns]

In [44]:
df["destination"].replace({"New Delhi": "Delhi"}, inplace=True)
df.head()

       airline  embarked destination  ... Duration_in_mins  price  additional_info
0       IndiGo  Banglore       Delhi  ...              170   3898          No info
1    Air India   Kolkata    Banglore  ...              445   7663          No info
2  Jet Airways     Delhi      Cochin  ...             1140  13883          No info
3       IndiGo   Kolkata    Banglore  ...              325   6219          No info
4       IndiGo  Banglore       Delhi  ...              285  13303          No info

[5 rows x 21 columns]

In [45]:
df.embarked = df['embarked'].map('source_{}'.format)
df.head()

       airline         embarked  ...  price additional_info
0       IndiGo  source_Banglore  ...   3898         No info
1    Air India   source_Kolkata  ...   7663         No info
2  Jet Airways     source_Delhi  ...  13883         No info
3       IndiGo   source_Kolkata  ...   6219         No info
4       IndiGo  source_Banglore  ...  13303         No info

[5 rows x 21 columns]

In [46]:
df.destination = df['destination'].map('destination_{}'.format)
df.head()

       airline         embarked  ...  price additional_info
0       IndiGo  source_Banglore  ...   3898         No info
1    Air India   source_Kolkata  ...   7663         No info
2  Jet Airways     source_Delhi  ...  13883         No info
3       IndiGo   source_Kolkata  ...   6219         No info
4       IndiGo  source_Banglore  ...  13303         No info

[5 rows x 21 columns]

In [47]:
dummies1 = pd.get_dummies(df.airline)
dummies1

       Air Asia  Air India  GoAir  ...  Trujet  Vistara  Vistara Premium economy
0             0          0      0  ...       0        0                        0
1             0          1      0  ...       0        0                        0
2             0          0      0  ...       0        0                        0
3             0          0      0  ...       0        0                        0
4             0          0      0  ...       0        0                        0
...         ...        ...    ...  ...     ...      ...                      ...
10457         1          0      0  ...       0        0                        0
10458         0          1      0  ...       0        0                        0
10459         0          0      0  ...       0        0                        0
10460         0          0      0  ...       0        1                        0
10461         0          1      0  ...       0        0                        0

[10462 rows x 12 columns]

In [48]:
dummies2 = pd.get_dummies(df.destination)
dummies2

       destination_Banglore  ...  destination_Kolkata
0                         0  ...                    0
1                         1  ...                    0
2                         0  ...                    0
3                         1  ...                    0
4                         0  ...                    0
...                     ...  ...                  ...
10457                     1  ...                    0
10458                     1  ...                    0
10459                     0  ...                    0
10460                     0  ...                    0
10461                     0  ...                    0

[10462 rows x 5 columns]

In [49]:
dummies3 = pd.get_dummies(df.embarked)
dummies3

       source_Banglore  source_Chennai  ...  source_Kolkata  source_Mumbai
0                    1               0  ...               0              0
1                    0               0  ...               1              0
2                    0               0  ...               0              0
3                    0               0  ...               1              0
4                    1               0  ...               0              0
...                ...             ...  ...             ...            ...
10457                0               0  ...               1              0
10458                0               0  ...               1              0
10459                1               0  ...               0              0
10460                1               0  ...               0              0
10461                0               0  ...               0              0

[10462 rows x 5 columns]

In [50]:
dummies4 = pd.get_dummies(df.stops)
dummies4

       1 stop  2 stops  3 stops  4 stops  non-stop
0           0        0        0        0         1
1           0        1        0        0         0
2           0        1        0        0         0
3           1        0        0        0         0
4           1        0        0        0         0
...       ...      ...      ...      ...       ...
10457       0        0        0        0         1
10458       0        0        0        0         1
10459       0        0        0        0         1
10460       0        0        0        0         1
10461       0        1        0        0         0

[10462 rows x 5 columns]

In [56]:
df.departure_period = df['departure_period'].map('departure_{}'.format)
df.head()

       airline         embarked  ...  price additional_info
0       IndiGo  source_Banglore  ...   3898         No info
1    Air India   source_Kolkata  ...   7663         No info
2  Jet Airways     source_Delhi  ...  13883         No info
3       IndiGo   source_Kolkata  ...   6219         No info
4       IndiGo  source_Banglore  ...  13303         No info

[5 rows x 21 columns]

In [57]:
dummies5 = pd.get_dummies(df.departure_period)
dummies5

       departure_After noon  ...  departure_night
0                         0  ...                1
1                         0  ...                0
2                         0  ...                0
3                         0  ...                0
4                         1  ...                0
...                     ...  ...              ...
10457                     0  ...                0
10458                     0  ...                0
10459                     0  ...                0
10460                     0  ...                0
10461                     0  ...                0

[10462 rows x 6 columns]

In [60]:
df.arrival_period = df['arrival_period'].map('arrival_{}'.format)
df.head()

       airline         embarked  ...  price additional_info
0       IndiGo  source_Banglore  ...   3898         No info
1    Air India   source_Kolkata  ...   7663         No info
2  Jet Airways     source_Delhi  ...  13883         No info
3       IndiGo   source_Kolkata  ...   6219         No info
4       IndiGo  source_Banglore  ...  13303         No info

[5 rows x 21 columns]

In [61]:
dummies6 = pd.get_dummies(df.arrival_period)
dummies6

       arrival_After noon  ...  arrival_night
0                       0  ...              0
1                       1  ...              0
2                       0  ...              0
3                       0  ...              1
4                       0  ...              1
...                   ...  ...            ...
10457                   0  ...              1
10458                   0  ...              1
10459                   0  ...              0
10460                   1  ...              0
10461                   0  ...              0

[10462 rows x 6 columns]

In [62]:
merged = pd.concat([df,dummies1,dummies2,dummies3,dummies4,dummies5,dummies6],axis='columns')
merged

           airline         embarked  ... arrival_morning arrival_night
0           IndiGo  source_Banglore  ...               0             0
1        Air India   source_Kolkata  ...               0             0
2      Jet Airways     source_Delhi  ...               0             0
3           IndiGo   source_Kolkata  ...               0             1
4           IndiGo  source_Banglore  ...               0             1
...            ...              ...  ...             ...           ...
10457     Air Asia   source_Kolkata  ...               0             1
10458    Air India   source_Kolkata  ...               0             1
10459  Jet Airways  source_Banglore  ...               1             0
10460      Vistara  source_Banglore  ...               0             0
10461    Air India     source_Delhi  ...               0             0

[10462 rows x 60 columns]

In [63]:
merged.source_Banglore.dtype

dtype('uint8')

In [64]:
merged.to_csv(r'df_encoding3.csv', index = False)