In [22]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [23]:
df = pd.read_csv('df_encoding.csv')
df.shape

(10462, 53)

In [24]:
df.head()

   Unnamed: 0      airline  embarked  ... late night morning  night
0           0       IndiGo  Banglore  ...          0       0      1
1           1    Air India   Kolkata  ...          0       0      0
2           2  Jet Airways     Delhi  ...          0       1      0
3           3       IndiGo   Kolkata  ...          0       0      0
4           4       IndiGo  Banglore  ...          0       0      0

[5 rows x 53 columns]

In [25]:
df["destination"].replace({"New Delhi": "Delhi"}, inplace=True)
df.head()

   Unnamed: 0      airline  embarked  ... late night morning  night
0           0       IndiGo  Banglore  ...          0       0      1
1           1    Air India   Kolkata  ...          0       0      0
2           2  Jet Airways     Delhi  ...          0       1      0
3           3       IndiGo   Kolkata  ...          0       0      0
4           4       IndiGo  Banglore  ...          0       0      0

[5 rows x 53 columns]

In [26]:
df.embarked = df['embarked'].map('source_{}'.format)
df.head()

   Unnamed: 0      airline         embarked  ... late night morning  night
0           0       IndiGo  source_Banglore  ...          0       0      1
1           1    Air India   source_Kolkata  ...          0       0      0
2           2  Jet Airways     source_Delhi  ...          0       1      0
3           3       IndiGo   source_Kolkata  ...          0       0      0
4           4       IndiGo  source_Banglore  ...          0       0      0

[5 rows x 53 columns]

In [27]:
df.destination = df['destination'].map('destination_{}'.format)
df.head()

   Unnamed: 0      airline         embarked  ... late night morning  night
0           0       IndiGo  source_Banglore  ...          0       0      1
1           1    Air India   source_Kolkata  ...          0       0      0
2           2  Jet Airways     source_Delhi  ...          0       1      0
3           3       IndiGo   source_Kolkata  ...          0       0      0
4           4       IndiGo  source_Banglore  ...          0       0      0

[5 rows x 53 columns]

In [28]:
dummies1 = pd.get_dummies(df.airline)
dummies1

       Air Asia  Air India  GoAir  ...  Trujet  Vistara  Vistara Premium economy
0             0          0      0  ...       0        0                        0
1             0          1      0  ...       0        0                        0
2             0          0      0  ...       0        0                        0
3             0          0      0  ...       0        0                        0
4             0          0      0  ...       0        0                        0
...         ...        ...    ...  ...     ...      ...                      ...
10457         1          0      0  ...       0        0                        0
10458         0          1      0  ...       0        0                        0
10459         0          0      0  ...       0        0                        0
10460         0          0      0  ...       0        1                        0
10461         0          1      0  ...       0        0                        0

[10462 rows x 12 columns]

In [29]:
dummies1.isnull().sum()

Air Asia                             0
Air India                            0
GoAir                                0
IndiGo                               0
Jet Airways                          0
Jet Airways Business                 0
Multiple carriers                    0
Multiple carriers Premium economy    0
SpiceJet                             0
Trujet                               0
Vistara                              0
Vistara Premium economy              0
dtype: int64

In [30]:
dummies2 = pd.get_dummies(df.destination)
dummies2

       destination_Banglore  ...  destination_Kolkata
0                         0  ...                    0
1                         1  ...                    0
2                         0  ...                    0
3                         1  ...                    0
4                         0  ...                    0
...                     ...  ...                  ...
10457                     1  ...                    0
10458                     1  ...                    0
10459                     0  ...                    0
10460                     0  ...                    0
10461                     0  ...                    0

[10462 rows x 5 columns]

In [31]:
dummies2.isnull().sum()

destination_Banglore     0
destination_Cochin       0
destination_Delhi        0
destination_Hyderabad    0
destination_Kolkata      0
dtype: int64

In [32]:
dummies3 = pd.get_dummies(df.embarked)
dummies3

       source_Banglore  source_Chennai  ...  source_Kolkata  source_Mumbai
0                    1               0  ...               0              0
1                    0               0  ...               1              0
2                    0               0  ...               0              0
3                    0               0  ...               1              0
4                    1               0  ...               0              0
...                ...             ...  ...             ...            ...
10457                0               0  ...               1              0
10458                0               0  ...               1              0
10459                1               0  ...               0              0
10460                1               0  ...               0              0
10461                0               0  ...               0              0

[10462 rows x 5 columns]

In [33]:
dummies3.isnull().sum()

source_Banglore    0
source_Chennai     0
source_Delhi       0
source_Kolkata     0
source_Mumbai      0
dtype: int64

In [34]:
dummies4 = pd.get_dummies(df.stops)
dummies4

       1 stop  2 stops  3 stops  4 stops  non-stop
0           0        0        0        0         1
1           0        1        0        0         0
2           0        1        0        0         0
3           1        0        0        0         0
4           1        0        0        0         0
...       ...      ...      ...      ...       ...
10457       0        0        0        0         1
10458       0        0        0        0         1
10459       0        0        0        0         1
10460       0        0        0        0         1
10461       0        1        0        0         0

[10462 rows x 5 columns]

In [35]:
dummies4.isnull().sum()

1 stop      0
2 stops     0
3 stops     0
4 stops     0
non-stop    0
dtype: int64

In [36]:
dummies5 = pd.get_dummies(df.departure_time)
dummies5

       After noon  early morning  evening  late night  morning  night
0               0              0        0           0        0      1
1               0              1        0           0        0      0
2               0              0        0           0        1      0
3               0              0        1           0        0      0
4               1              0        0           0        0      0
...           ...            ...      ...         ...      ...    ...
10457           0              0        1           0        0      0
10458           0              0        1           0        0      0
10459           0              1        0           0        0      0
10460           0              0        0           0        1      0
10461           0              0        0           0        1      0

[10462 rows x 6 columns]

In [37]:
dummies5.isnull().sum()

After noon       0
early morning    0
evening          0
late night       0
morning          0
night            0
dtype: int64

In [38]:
merged = pd.concat([df,dummies1,dummies2,dummies3,dummies4,dummies5],axis='columns')
merged

       Unnamed: 0      airline         embarked  ... late night morning  night
0               0       IndiGo  source_Banglore  ...          0       0      1
1               1    Air India   source_Kolkata  ...          0       0      0
2               2  Jet Airways     source_Delhi  ...          0       1      0
3               3       IndiGo   source_Kolkata  ...          0       0      0
4               4       IndiGo  source_Banglore  ...          0       0      0
...           ...          ...              ...  ...        ...     ...    ...
10457       10678     Air Asia   source_Kolkata  ...          0       0      0
10458       10679    Air India   source_Kolkata  ...          0       0      0
10459       10680  Jet Airways  source_Banglore  ...          0       0      0
10460       10681      Vistara  source_Banglore  ...          0       1      0
10461       10682    Air India     source_Delhi  ...          0       1      0

[10462 rows x 86 columns]

In [39]:
df.head()

   Unnamed: 0      airline         embarked  ... late night morning  night
0           0       IndiGo  source_Banglore  ...          0       0      1
1           1    Air India   source_Kolkata  ...          0       0      0
2           2  Jet Airways     source_Delhi  ...          0       1      0
3           3       IndiGo   source_Kolkata  ...          0       0      0
4           4       IndiGo  source_Banglore  ...          0       0      0

[5 rows x 53 columns]

In [40]:
merged.to_csv(r'df_encoding.csv', index = False)